# Dependencies
node_modules/

# Build output
dist/

# System files
.DS_Store
Thumbs.db

# Large Video Files (Ignored due to GitHub 100MB limit)
# You must upload these to YouTube/Vimeo for the live site
industrial.mp4.mp4
